html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.ttf');
}
@font-face {
    font-family: 'Amaranth';
    src: url('../fonts/Amaranth-Bold.ttf');
}
@font-face {
    font-family: 'Bradley';
    src: url('../fonts/Bradley.ttf');
}
body {
    background: #eaeaea;
    position: relative;
    font-family: 'Open Sans';
    line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
a, a:visited, a:active {
    color: #0678be;
    text-decoration: none;
}
a.logo {
    float: left;
    position: relative;
    top: 4px;
    margin-left: 10px;
}
table {
    /* Remove spacing between table cells (from Normalize.css) */
    
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: 1px solid #cbcbcb;
    width: 100%;
}
table caption {
    color: #000;
    padding: 1em 0;
    text-align: center;
}
table td,
table th {
    border-width: 0 0 0 1px;
    font-size: inherit;
    margin: 0;
    overflow: visible;
    /*to make ths where the title is really long work*/
    
    padding: 0.5em 1em;
    /* cell padding */
}
table td {
    border-left: 1px solid #cbcbcb;
}
table th {
    border-left: 1px solid #999;
}
/* Consider removing this next declaration block, as it causes problems when
there's a rowspan on the first cell. Case added to the tests. issue#432 */

table td:first-child,
table th:first-child {
    border-left-width: 0;
}
table thead {
    background-color: #ccc;
    color: #000;
    text-align: left;
    vertical-align: bottom;
}
/*
striping:
   even - #fff (white)
   odd  - #f2f2f2 (light gray)
*/

table td {
    background-color: transparent;
}
table-odd td {
    background-color: #f2f2f2;
}
/* nth-child selector for modern browsers */

table-striped tr:nth-child(2n-1) td {
    background-color: #f2f2f2;
}
/* BORDERED TABLES */

table-bordered td {
    border-bottom: 1px solid #cbcbcb;
}
table-bordered tbody > tr:last-child > td {
    border-bottom-width: 0;
}
/* HORIZONTAL BORDERED TABLES */

table-horizontal td,
table-horizontal th {
    border-width: 0 0 1px 0;
    border-bottom: 1px solid #cbcbcb;
}
table-horizontal tbody > tr:last-child > td {
    border-bottom-width: 0;
}
table caption {
    text-align: left;
    padding-top: 0px;
    font-size: 17px;
    font-weight: bold;
}
table thead th a {
    color: #000;
}
table tbody td.active a,
table tbody td.active {
    font-weight: bold;
}
nav ul,
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}
mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}
del {
    text-decoration: line-through;
}
abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}
input,
select {
    vertical-align: middle;
        font-family: 'Open Sans';
}
.wrapper {
    width: auto;
    margin: 0px auto;
}
.header li,
.header a,
.header a:hover {
    color: #fff;
}
.header {
    background: #333333;
    height: 60px;
}
h1.sitename {
    position: relative;
    top: 7px;
    font-family: 'Amaranth';
    font-size: 30px;
    color: #fff;
}
h1.sitename span.slogan {
    font-family: 'Bradley';
    position: relative;
    top: -1px;
}
h1.sitename a,
h1.sitename a:visited,
h1.sitename a:active,
h1.sitename a:hover {
    color: #fff;
}
h1 {
    float: left;
    font-weight: normal;
    font-size: 18px;
    padding: 5px 0px 0px 10px;
}
.homemenu {
    float: right;
    width: auto;
    font-weight: normal;
    font-size: 18px;
    padding: 15px 10px 0px 0px;
}
.homemenu li {
    display: inline;
}
.homemenu .divgreetuser {
    color: darkOrange;
}
.homemenu .divuser {
    color: #fff;
    padding: 0px 5px 0px 5px;
}
.homemenu .divgreetuser,
.homemenu .divuser {
    position: relative;
    top: 5px;
}
.homemenu .divhelp {
    border-left: 2px solid #999999;
    border-right: 2px solid #999999;
    padding: 5px 5px 0px 5px;
}
.divhelp a {
    text-decoration: none;
}
.divhelp ahover {
    text-decoration: none;
}
.homemenu .divlog {
    padding: 0px 5px 0px 5px;
}
.navmenu {
    float: left;
    width: 16%;
    background: #333333;
    font-style: normal;
}
.searchnavmenu {
    float: left;
    width: 16%;
    background: #333333;
    font-style: normal;
    height: 720px;
}
.listmenu li {
    list-style-position: inside;
    color: #ffffff;
    font-size: 1.1em;
    border-bottom: 1px solid #101010;
    padding: 20px 0px 20px 15px;
    box-shadow: inset 0 0 8px 0px #525050;
}
.listmenu a {
    color: #fff;
    text-decoration: none;
    padding: 15px 10px 15px 36px;
}
.listmenu a:hover,
.listmenu a.active {
    text-decoration: none;
    color: #9966ff;
}
.createlist a {
    background: url("../images/create.png") no-repeat 0;
}
.createlist a:hover,
.createlist a.active {
    background: url("../images/create_selected.png") no-repeat 0;
}
.searchlist a {
    background: url("../images/search.png") no-repeat 0;
}
.searchlist a:hover,
.searchlist a.active {
    background: url("../images/search_selected.png") no-repeat 0;
}
.myrequestlist a {
    background: url("../images/myrequest.png") no-repeat 0;
}
.myrequestlist a:hover {
    background: url("../images/myrequest_selected.png") no-repeat 0;
}
.reportslist a {
    background: url("../images/Reports.png") no-repeat 0;
}
.reportslist a:hover {
    background: url("../images/Reports_selected.png") no-repeat 0;
}
.searchcontainer {
    float: right;
    width: 84%;
}
.searchcontainer h2 {
    font-size:30px;
    margin: 10px 0px;
    padding: 0px 20px 5px 15px;
    font-weight: normal;
}
body :not(.not-front) .page-node .searchcontainer h2 {
    margin: 0px 0px 10px 0px !important;
    padding: 0px !important;
}
.searchcontainer h3 {
    font-size: 24px;
    color: #3a0093;
    padding: 10px 10px 10px 0px;
    cursor: pointer;
}
.searchcontainer h3 img {
    margin-right: 10px;
    position: relative;
    top: 3px;
}
.divfilter {
    padding-left: 34px;
    margin: 0;
    height: 46px;
    background: url("../images/filterimage.png") repeat-x;
}
.popupcontainer {
    width: 780px;
    background: #fff;
    padding: 20px;
    position: fixed;
}
.popupcontainer h2 {
    font-size: 18px;
    color: #3366CC;
    padding: 10px 10px 0 0;
}
.popupcontainer label {
    margin: 10px 10px 7px 0!important;
}
.popupcontainer .divresult,
.popupcontainer label {
    font-size: 14px!important;
}
.filter {
    display: block;
    margin-top: 0px;
    padding-top: 0px;
    background: rgb(204, 204, 204);
}
.form-container {
    color: #333;
    font-size: 12px;
    padding: 15px 15px 15px 0;
    line-height: 18px;
    background: #eaeaea;
}
.formsearch-container {
    color: #333;
    font-size: 16px;
    padding: 0px 0px 10px 29px;
    line-height: 18px;
    background: url("../images/filterimage.png") repeat-x;
}
.divleft {
    float: left;
    width: 50%;
    background: #eaeaea;
    padding-left: 40px;
}
.divright {
    float: right;
    width: 45%;
    background: #eaeaea;
}
.divpopupleft {
    float: left;
    width: 50%;
    box-sizing: border-box;
}
.divpopupright {
    float: left;
    width: 50%;
}
.divpopupleft .input-field label {
    display: inline-block;
    width: 180px;
    font-weight: bold;
}
.divpopupright .input-field label {
    display: inline-block;
    width: 100px;
    font-weight: bold;
}
.divresult {
    display: inline-block;
    width: 180px;
    font-weight: normal;
}
.spanresult {
    color: #999;
}
.popupbody {
    position: absolute;
    background: #000;
    z-index: 99999;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: url("../images/tbg.png") repeat;
    display: none;
}
.normal-form .input-field {
    margin: 10px 0px;
}
.input-field label {
    display: inline-block;
    width: 25%;
}
.normal-form label {
    margin: 10px 50px 7px 0;
    font-size: 16px;
}
.dummycontent {
    margin-bottom: 380px;
}
.calculationdiv label {
    display: inline-block;
    margin: 10px 7px 6px 0px
}
.calculationdiv span {
    margin-right: 30px;
    color: #420598;
    font-weight: bold;
    font-size: 13px;
}
.popupdiv label {
    display: inline-block;
    margin: 10px 7px 6px 0px;
    font-weight: bold;
}
.popupdiv span {
    margin-right: 30px;
    color: #999;
}
.form-control {
    background: white;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555555;
    font-size: 16px;
    height: 20px;
    line-height: 1.42857;
    padding: 5px 12px;
    width: 200px;
}
.form-control:focus {
    border-color: #66afe9;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
    outline: 0 none;
}
.select-dropdown {
    display: inline-block;
    width: 225px;
    height: 30px;
    padding: 2px 2px 2px 8px;
}
.alignBottom {
    vertical-align: bottom;
    padding-left: 5px;
}
.submit-block {
    float: left;
    padding: 40px 10px 38px 0px;
}
.search-submit-block {
    padding: 15px 0px 6px 0px;
}
.report-generate-block {
    padding: 15px 0px 6px 0px;
}
.btn {
    border: none;
    cursor: pointer;
    display: inline-block;
    padding: 7px 40px;
    margin-right: 10px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    font-weight: normal;
    color: #fff;
    background: #420598;
    border: none;
    box-shadow: 0 2px #27496d;
    -moz-box-shadow: 0 2px #27496d;
    -webkit-box-shadow: 0 2px #27496d;
}
.btn:hover {
    background: #417cb8
}
.btn:active {
    background: #417cb8;
    box-shadow: 0 3px #27496d;
    -moz-box-shadow: 0 3px #27496d;
    -webkit-box-shadow: 0 3px #27496d;
}
.divcontainer {
    float: left;
    width: auto;
    background: #eaeaea;
    padding: 40px 30px 15px 40px;
}
.searchResult {
    width: 92%;
    padding: 30px 4% 15px 4%;
}
.divspanmore {
    display: inline-block;
    width: 24px;
    height: 24px;
}
.divfirstcolor {
    background: #eaeaea;
}
.divsecondcolor {
    background: #f9f9f9;
}
.report-field-left {
    float: left;
    width: 40%;
    padding: 20px 0px 10px 0px;
}
.report-field-right {
    float: right;
    width: 31%;
    font-size: 12px;
    padding: 20px 0px 10px 0px;
}
.resultlabel {
    font-size: 12px;
    color: #2d2d2d;
}
.page-dropdown {
    display: inline-block;
    width: 55px;
    height: 25px;
}
.mainContent {
    overflow: hidden;
}
a.closePop {
    position: absolute;
    background: url("../images/closePop.png") no-repeat;
    width: 23px;
    height: 22px;
    right: -10px;
    top: -10px;
}
a.more {
    background: url("../images/moreicon.png") no-repeat;
    float: left;
    width: 24px;
    height: 24px;
}
.footer {
    padding-top: 14px;
    font-size: 11px;
    color: #666;
    text-align: left;
    padding-left: 15px;
    font-weight: bold;
}
.footer a {
    color: #000;
    text-decoration: none;
}
.pagination ul {
    float: left;
    font-size: 12px;
}
.pagination li {
    float: left;
    padding: 7px 15px;
    background: #ffffff;
    border: 1px solid #a59c9c;
    border-right: 0px;
}
.pagination li:nth-child(1) {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}
.pagination li:nth-child(6) {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    border-right: 1px solid #a59c9c;
}
.paginationa {
    text-decoration: none;
    color: #2d2d2d;
}
.pagination-lightcolor {
    color: #a59c9c;
}
.paginationa:hover,
.paginationa.active {
    text-decoration: none;
    color: #a59c9c;
}
.report-field-right .pagination-bluecolor {
    background: #380093;
}
.pagination-bluecolor a {
    color: #ffffff;
    text-decoration: none;
}
.searchdisplay li {
    float: left;
    padding: 7px 5px 7px 10px;
}
.search-form .input-field {
    margin: 0px;
}
.search-form .input-field label {
    display: block;
    width: 170px;
}
.search-form label {
    font-size: 14px;
}
.search-select-dropdown {
    display: inline-block;
    width: 160px;
    height: 30px;
}
.divleftcomment {
    padding: 1px 0px 0px 185px;
    width: 180px;
}
.comments li {
    color: #400397;
    display: inline;
}
.normal-form .input-field.commentsindicatordiv {
    position: relative;
    top: -5px;
    margin: 0px;
}
.normal-form .input-field.commentsindicatordiv label {
    margin: 0px 50px 0px 0;
}
.commentsindicator {
    color: red;
    font-weight: bold;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.clearfix {
    display: inline-block;
}
* html .clearfix {
    height: 1%;
}
.clearfix {
    display: block;
}
@media screen and (min-width: 600px) and (max-width: 1200px) {
    .navmenu,
    .searchnavmenu {
        width: 20%;
    }
    .searchcontainer {
        width: 80%;
    }
    .divleftcomment {
        padding: 1px 0px 0px 40%;
    }
    .filterformcont input[type=text],
    .filterformcont select {
        width: 120px !important;
    }
    .filterformcont select {
        width: 140px!important;
    }
    .divleft {
        width: 48%;
    }
    .form-control {
        width: 155px;
    }
    .select-dropdown {
        width: 180px;
    }
    .input-field label {
        display: inline-block;
        width: 22%;
    }
    .search-form .input-field label {
        width: 130px;
    }
}
.filterformcont input[type=text],
.filterformcont select {
    background: white;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555555;
    font-size: 13px;
    height: 22px;
    line-height: 1.42857;
    padding: 3px 8px;
    width: 155px;
}
.filterformcont select {
    padding-right: 4px;
}
.filterformcont input[type=text].datepicker {
    background: #FFF url(../images/dateAndTime_picker-filter.png) no-repeat right 4px !important;
    background-size: 25px;
}
input[type=text].datepickerform {
    background: #FFF url(../images/dateAndTime_picker.png) no-repeat right 2px !important;
}
.filterformcont select {
    height: 30px;
    width: 173px;
}
.nobg {
    background: none;
}
.filterBg {
    background-color: #CCC;
    box-shadow: inset 0 0 8px 0px #525050;
    margin-left: 1px;
}
.hide {
    visibility: hidden;
}
.pull-right {
    float: right;
}
.searchcontainer h3 img,
.searchcontainer h3 img {
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.fa-rotate-180 {
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
    transform: rotateX(180deg);
}
.excelexport {
    margin: 10px 0px;
}
.excelexport a {
    position: relative;
    top: -7px;
    margin-left: 10px;
    color: #420598;
}
.excelexport a:hover {
    text-decoration: none;
}
input[type=text]::-ms-clear {
    display: none;
}
.alignreport {
    text-align: right !important;
}
/****Custom*****/
.searchcontainer h2.pane-title {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left:0px;
}
.page-node .content_container {
    display: table;
    width: 93%;
}
.content_container {
    margin-left: 15px;
    background: #fff;
    padding: 30px;
    border: 1px solid #ccc;
    font-size: 14px;
}
.form-submit.button {
    margin-top: 15px;
}
.form-submit {
    border: none;
    cursor: pointer;
    display: inline-block;
    padding: 7px 40px;
    margin-right: 10px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    font-weight: normal;
    color: #fff;
    background: #333;
    border: none;
    box-shadow: 0 2px #525050;
    -moz-box-shadow: 0 2px #525050;
    -webkit-box-shadow: 0 2px #525050;
    text-decoration: none;
}
.form-submit:hover {
    background: #525050;
}
.form-submit:active {
    background: #417cb8;
    box-shadow: 0 3px #27496d;
    -moz-box-shadow: 0 3px #27496d;
    -webkit-box-shadow: 0 3px #27496d;
}
.form-text,
.form-select {
    background: white;
    border: 1px solid #9d9d93;
    color: #000;
    font-size: 13px;
    padding: 3px 8px;
}
.form-text {
    height: 25px;
}
.form-select {
    min-height: 33px;
}
.views-exposed-form .views-exposed-widget .form-submit {
    margin-top: 17px;
}
.view-filters {
    margin-bottom: 25px;
}
.navmenu {
    min-height: 330px;
}
.navmenu .menu .menu li {
    border: none;
    box-shadow: none;
    padding: 0px;
    font-size: 1em;
}
.navmenu .menu li {
    list-style-position: inside;
    color: #ffffff;
    font-size: 1.1em;
    border-bottom: 1px solid #101010;
    padding: 8px 0px 12px 15px;
    box-shadow: inset 0 0 8px 0px #525050;
    list-style: none;
    margin: 0px;
}
.navmenu .menu a {
    color: #fff;
    text-decoration: none;
}
.navmenu .menu .menu li a {
    color: orange;
}
.navmenu .menu .menu li a:hover {
    color: #9966ff;
}
.navmenu .menu .menu li a,
.navmenu .menu .menu li a:hover,
.navmenu .menu .menu li a.active {
    background: none;
    font-size: 13px;
}
.navmenu .menu a:hover,
.navmenu .menu a.active {
    text-decoration: none;
    color: #9966ff;
}
div.messages {
    margin: 0px !important;
}
div.error,
table tr.error {
    background-color: #ed541d;
    color: #fff;
}
div.error a,
table tr.error a {
    color: yellow;
}
div.status,
table tr.ok {
    background-color: #be7;
}
div.status a,
table tr.ok a {
    color: orange;
}
div.warning,
table tr.warning {
    background-color: #ed5;
}
div.warning a,
table tr.warning a {
    color: #000;
}
ul.primary {
    height: 23px;
    padding-left: 0px;
    margin: 0px;
    margin-bottom: 10px;
    border-bottom: 1px solid #333;
}
ul.primary li a,
ul.primary li.active a,
ul.primary li a:hover {
    padding: 5px 10px 5px 10px;
    background: #333;
    color: #fff;
    border: none;
    border-color: inherit;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin: 0px;
}
ul.primary li a:hover {
    background: #525050;
}
ul.primary li.active a {
    color: orange;
    font-weight: bold;
}
ul.secondary {
    background: #333;
    margin: 0px;
}
ul.secondary li:last-child {
    border-right: none;
}
ul.secondary li a {
    color: #fff;
    border: none;
}
ul.secondary a.active {
    border: none;
    font-weight: bold;
    color: orange;
}
ul.links {
    width: 100%;
    float: left;
    margin-bottom: 10px;
}
ul.links li {
    float: left;
    margin: 10px 5px 10px 0px;
    padding: 0px;
}
ul.links li a {
    background: #333;
    color: #fff;
    padding: 2px 10px 3px 10px;
    border-radius: 5px;
}
.attachment.attachment-after {
    margin-top: 20px;
    margin-bottom: 20px;
}
.attachment.attachment-after a {
    background: #333;
    color: #fff;
    padding: 5px 10px 6px 10px;
    border-radius: 5px;
}
div#breadcrumb {
    position: absolute;
}
div#breadcrumb .breadcrumb {
    position: relative;
    top: -12px;
    left: 17px;
}
div#breadcrumb .breadcrumb a {
    text-decoration: none;
}
a.tabledrag-handle .handle {
    margin: 0px 0.5em;
}
span.views-label {
    float: left;
    width: 150px;
    font-weight: bold;
}
span.views-field {
    float: left;
    width: 100%;
    margin-bottom: 15px;
}
span.field-content {
    float: left;
    width: 80%;
}
span.fieldset-legend {
    font-weight: bold;
}
.pane-node {
    margin-bottom: 20px;
}
.container-inline-date .date-padding {
    padding: 0px;
}
.container-inline-date label {
    display: none;
}
.field-name-field-tags a {
    border: 1px solid gold;
    padding: 2px;
    text-decoration: none;
    background-color: gold;
    font-size: 12px;
}
.field-name-field-tags {
    margin-top: 15px;
    margin-bottom: 20px;
}
.searchcontainer h3 {
    padding: 0px 0px 10px 0px;
    margin-bottom: 10px;
}
.panel-1col .panel-pane {
    float: left;
    width: 100%;
}
.item-list ul li {
    margin: 0px;
}
.item-list .pager {
    margin-top: 35px;
}
.item-list .pager li {
    border: 1px solid #666;
    background: #666;
    color: darkorange;
}
.item-list .pager li a {
    color: #fff;
    text-decoration: none;
}
span.fieldset-legend {
    font-size: 16px;
}
.form-actions {
    margin-top: 5px;
    margin-bottom: 5px;
}
div.url-textfield {
    display: none;
}
.div-components{
    float:left;
    border-bottom:1px solid #ccc;
    margin-bottom: 10px;
    padding-bottom: 10px;
    width: 100%;
}
.div-components-thumbnail {
    margin-right: 10px;
}
.div-components-thumbnail,.div-components-content{
    float:left;
}
.div-components-content .title,.div-components-content .title a{
    text-decoration:none;
    color:#303133;
    font-size:18px;
    margin:5px 0px 0px 0px;
    font-weight:bold;
}
.div-components-content .title{
    text-align:left;
}
.div-components-content{
    width:90%;
    text-align:justify;
}
.div-components-content .body-links span{
    border: 1px solid #333;
    background: #333;
    color: #fff;
    border-radius: 5px;
    margin-left: 10px;
    padding-left: 5px;
    padding-right: 5px;
}
/*div-1xn-container*/

.div-1xn-container .item-list ul li:last-child .div-components, .div-1xn-container:last-child .div-components{
    border: none;
}
.div-1xn-container {
    float: left;
    width: 100%;
}
/*div-2xn-container*/

.div-2xn-container {
    float: left;
    width: 100%;
}
.div-2xn-container ul li {
    float: left;
    width: 50%;
    height: 190px;
}
.div-2xn-container .div-components-content {
    width: 80%;
}
.div-2xn-container .div-components {
    border: none;
}
/*div-3xn-container*/

.div-3xn-container ul li {
    float: left;
    width: 33%;
    height: 190px;
}
.div-3xn-container {
    float: left;
    width: 100%;
}
.div-3xn-container .div-components {
    border: none;
}
.div-3xn-container .div-components-thumbnail {
    display: none;
}
/*div-4xn-container*/

.div-4xn-container ul li {
    float: left;
    width: 25%;
    height: 190px;
}
.div-4xn-container {
    float: left;
    width: 100%;
}
.div-4xn-container .div-components {
    border: none;
}
.div-4xn-container .div-components-thumbnail {
    display: none;
}
/* ----------------- Comments ----------------- */

.comment {
    width: 100%;
}
.comment div.user-picture img {
    margin-left: 0;
    /* LTR */
}
.comment {
    margin-bottom: 20px;
    display: table;
    vertical-align: top;
}
.comment .attribution {
    display: table-cell;
    padding: 0 30px 0 0;
    /* LTR */
    
    vertical-align: top;
    overflow: hidden;
}
.comment .attribution img {
    margin: 0;
}
.comment .attribution .username {
    white-space: nowrap;
}
.comment .submitted p {
    margin: 4px 0;
    font-size: 1.071em;
    line-height: 1.2;
    color: #000;
}
.comment .content {
    font-size: 0.929em;
    line-height: 1.6;
}
.comment .comment-arrow {
    background: url(../images/comment-arrow.gif) no-repeat 0 center transparent;
    /* LTR */
    
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    height: 40px;
    margin-left: -47px;
    /* LTR */
    
    margin-top: 10px;
    position: absolute;
    width: 20px;
}
.comment .comment-text {
    padding: 10px 25px;
    border: 1px solid #d3d7d9;
    display: table-cell;
    vertical-align: top;
    position: relative;
    width: 100%;
}
.comment .indented {
    margin-left: 40px;
    /* LTR */
}
.comment ul.links {
    padding: 10px 0 0.25em 0;
    float: left;
}
.comment ul.links li {
    padding: 0 0.5em 0 0;
    /* LTR */
}
.comment-unpublished {
    margin-right: 5px;
    /* LTR */
    
    padding: 5px 2px 5px 5px;
    /* LTR */
}
.comment-unpublished .comment-text .comment-arrow {
    border-left: 1px solid #fff4f4;
    border-right: 1px solid #fff4f4;
}
.comment h3 a {
    color: #000;
    text-decoration: none;
}
.comment h3 {
    margin: 0px;
    font-size: 15px;
    padding: 0px;
    color: #000;
}
.pane-node-comments {
    margin-bottom: 22px;
}
.pane-node-comment-form .form-submit {
    margin-bottom: 14px;
}
span.new {
    border: 1px solid green;
    background: green;
    color: #fff;
    padding: 0px 6px 2px 5px;
    border-radius: 5px;
    font-weight: normal;
    margin-right: 10px;
        float: right;
}
span.comment-permalink {
    float: right;
}
span.commenter-name {
    font-weight: bold;
}
#comments h2 {
    margin-left: 0px;
    padding-left: 0px;
}
/*------Comment Closed-------*/
.form-item {
    margin-top: 0px;
}
.inline-fieldset .form-item {
    float: left;
    margin-right: 15px;
}
.ds-2col-stacked > .group-left,
.ds-2col-stacked > .group-right {
    background: bisque;
    width: 47%;
    padding: 10px;
    border-top: 2px solid orange;
    border-bottom: 2px solid orange;
}
.ds-2col-stacked > .group-footer {
    float: left;
    margin-top: 12px;
    width: 100%;
}
fieldset.collapsible .fieldset-legend, fieldset.collapsible .fieldset-wrapper{
        float: left;
        width:100%;
}
fieldset.collapsible .fieldset-legend {
        position: relative;
        top: 6px;
}
fieldset {
    margin-bottom: 10px;
}
fieldset.collapsible {
    background: #f6f6f2;
    padding: 0.692em;
}
fieldset.collapsible legend {
    margin-bottom: 25px;
}
fieldset legend a {
    color: #000;
}
div.issue-settings {
    margin-top: 1em;
    margin-bottom: 1em;
}
.filter-wrapper .form-item,
.filter-guidelines {
    padding: 0px;
}
div.submitted {
    color: darkOrange;
    font-size: 13px;
}